.b-about {
    display: flex;
    flex-direction: column;
    flex: 1;

    &.expertise {

        .hold__content {
            padding: 46px 120px;

            .hold__info {
                padding-bottom: 36px;

                .info__list {

                    .info__list__item {

                        &.no-icon {

                            .item-text {
                                margin: 0;
                            }
                        }
                    }
                }
            }

            .info-text {
                font-family: 'Calibri';
                padding: 46px 0;
            }
        }
    }
    
    .hold__img {
        position: relative;
        background: url(../img/bg-about.png) no-repeat center;
        background-size: cover;
        height: 400px;

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            width: 100px;
            background-color: rgba(168,149,116,.5);
            z-index: 1;
        }
    }

    .hold__content {
        display: flex;
        flex-direction: column;
        padding: 36px 120px;

        @media (max-width: $mediumDesctop) {
            padding: 36px 60px;
        }

        @media (max-width: $tablet) {
            padding: 30px 0;
        }

        .b-quote {
            min-height: 220px;
        }

        .hold__info {
            display: flex;
            flex-direction: column;

            & + .hold__info {
                margin-top: 20px;
            }

            .info__title {
                display: inline-block;
                font-size: 1.7em;
                color: $darkwood;
                padding: 36px 0;

                .text {
                    display: inline-block;
                    border-left: 3px solid $darkwood;
                    padding-left: 24px;

                    @media (max-width: $mobile) {
                        padding-left: 15px;
                    }
                }
            }

            .info__subtitle {
                font-family: 'Calibri-Bold';
                color: $black;
                padding-bottom: 27px;
            }

            .info__list {
                display: flex;
                flex-direction: column;

                &__item {
                    display: flex;
                    align-items: flex-start;

                    & + .info__list__item {
                        margin-top: 24px;
                    }

                    .item-img {
                        margin-top: 5px;
                    }

                    .item-text {
                        font-family: 'Calibri';
                        color: $black;
                        margin-left: 28px;

                        @media (max-width: $mobile) {
                            margin-left: 10px;
                        }
                    }
                }
            }
        }
    }
}