.b-activity {
    display: flex;
    flex-direction: column;
    flex: 1 0 0;

    .block-title {
        flex: 1 0 0;
        background: $lightbrown url(../img/bg-wall.png) no-repeat center;
        background-size: cover;
        font-size: 1.3em;
        line-height: 1.231;
        color: $white;
        padding: 76px 100px;

        @media (max-width: $mediumDesctop) {
            padding: 50px;
        }

        @media (max-width: $desctop) {
            font-size: 1em;
            padding: 15px 25px;
        }

        @media (max-width: $mobile) {
            padding: 15px;
        }

    }

    .hold-solution {
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        padding: 64px 48px 50px 100px;

        @media (max-width: $mediumDesctop) {
            padding: 40px 50px;
        }

        
        @media (max-width: $desctop) {
            padding: 15px 25px;
        }

        @media (max-width: $mobile) {
            flex-direction: column;
            padding: 15px;
        }

        .solution__item {
            display: flex;
            flex: 33% 0;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;

            & + .solution__item {
                margin-left: 50px;

                @media (max-width: $desctop) {
                    margin-left: 20px;
                }

                @media (max-width: $mobile) {
                    margin: 20px 0 0;
                }
            }

            &_icon {
                display: block;
                height: 56px;
            }

            &_label {
                position: relative;
                font-size: 1.1em;
                line-height: 1.286;
                font-weight: $f-medium;
                color: $lightbrown;
                margin-top: 35px;
                min-height: 81px;

                @media (max-width: $mobile) {
                    margin-top: 10px;
                    min-height: auto;
                }

                &_inner {
                    display: inline-block;
                    border-left: 3px solid $lightbrown;
                    padding-left: 24px;
                }
            }

            &_text {
                font-size: .8em;
                line-height: 1.222;
                margin-top: 26px;

                @media (max-width: $mobile) {
                    margin-top: 10px;
                }

                p {
                    font-family: 'Calibri';

                    & + p {
                        margin-top: 20px;

                        @media (max-width: $mobile) {
                            margin-top: 10px;
                        }
                    }
                }
            }
        }
    }
}