.b-advantages {
    display: flex;

    @media (max-width: $desctop1440) {
        flex-direction: column;
    }

    .advantage__item {
        display: flex;
        flex-direction: column;
        flex: 33%;
        min-height: 601px;
        padding: 110px 40px;
        background-color: $white;

        @media (max-width: $desctop1440) {
            flex: 100%;
            min-height: 150px;
            padding: 30px 50px;
        }

        @media (max-width: $tablet) {
            padding: 30px 15px;
        }

        &.whitesmoke {
            background: 
            url(../img/bg-white-triangl.png) no-repeat,
            linear-gradient(0deg, rgba(241, 241, 241, 0.85), rgba(241, 241, 241, 0.85)), $whitesmoke;
            background-position: bottom right;
        }

        &.wildsand {
            background: linear-gradient(0deg, rgba(245, 245, 245, 0.85), rgba(245, 245, 245, 0.85)), $wildsand;
        }


        &_label {
            font-family: 'Montserrat-Medium';
            font-size: 1.1em;
            line-height: 1.227;
            color: $darkwood;
            min-height: 54px;

            @media (max-width: $desctop1440) {
                min-height: auto;
            }
        }

        &_text {
            font-family: 'Calibri';
            font-size: .9em;
            line-height: 1.222;
            margin-top: 36px;

            @media (max-width: $desctop1440) {
                margin-top: 15px;
            }
        }
    }
}