.b-analytics {
    display: flex;

    @media (max-width: $desctop1600) {
        flex-direction: column;
    }

    &.grey {

        .analytics-item {
            padding: 44px 70px;
            background-color: $grey;

            @media (max-width: $desctop1600) {
                padding: 44px 70px 44px 120px;
            }

            @media (max-width: $tablet) {
                padding: 30px 15px;
            }

            &.pic-bg {
                background: $grey url(../img/bg-office.png) no-repeat center;
                background-size: cover;
                padding: 44px 70px 44px 120px;

                @media (max-width: $tablet) {
                    padding: 30px 15px;
                }
            }

            .hold-number {

                .number__item {
                    align-items: center;
                    max-width: 100%;

                    & + .number__item {
                        margin-top: 25px;
                    }

                    .number {
                        display: flex;
                        flex-direction: column;
                        font-size: unset;
                        color: $limedspruce;

                        &__label {
                            font-size: 2.4em;
                        }

                        &__text {
                            font-size: 1.1em;
                        }
                    }

                    .hold-text {
                        margin: 0 0 0 18px;

                        .title {
                            color: $black;
                            font-size: .9em;
                        }
                    }
                }

                .info-text {
                    color: $black;
                    font-size: .7em;
                    margin-top: 20px;
                }
            }
        }
    }

    .analytics-item {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 50%;
        padding: 70px 70px 70px 100px;
        background-color: $sorrellbrown;
        color: $white;

        @media (max-width: $mediumDesctop) {
            padding: 50px;
        }

        @media (max-width: $tablet) {
            flex: 1;
            padding: 30px 15px;
        }

        &.pic-bg {
            background: url(../img/bg-room.png) no-repeat;
            background-size: cover;
            padding: 70px 100px;

            @media (max-width: $mediumDesctop) {
                padding: 50px;
            }

            @media (max-width: $tablet) {
                padding: 30px 15px;
            }
        }
        
        .hold-number {
            display: flex;
            flex-direction: column;

            .number__item {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                max-width: 530px;

                @media (max-width: $tablet) {
                    max-width: 100%;
                }

                & + .number__item {
                    margin-top: 28px;

                    @media (max-width: $tablet) {
                        margin-top: 15px;
                    }
                }

                .number {
                    font-family: 'Montserrat-Bold';
                    font-size: 4.8em;
                    line-height: 1.219;
                    color: $white;

                    @media (max-width: $tablet) {
                        font-size: 3em;
                        line-height: normal;
                    }
                }

                .hold-text {
                    display: flex;
                    flex-direction: column;
                    font-family: 'Montserrat-Bold';
                    text-transform: lowercase;
                    color: $white;
                    margin: 15px 0 0 11px;

                    @media (max-width: $tablet) {
                        margin: 6px 0 0 11px;
                    }

                    .title {
                        font-size: 1.6em;

                        @media (max-width: $tablet) {
                            font-size: 1.3em;
                        }
                    }

                    .subtitle {
                        font-size: 1.3em;
                        margin-top: 5px;

                        @media (max-width: $tablet) {
                            font-size: 1em;
                        }
                    }
                }
            }
        }

        .label {
            font-family: 'Montserrat-Bold';
            font-size: 1.1em;
            margin-top: 70px;

            @media (max-width: $tablet) {
                margin-top: 30px;
            }
        }

        .text {
            font-family: 'Calibri';
            margin-top: 36px;

            @media (max-width: $tablet) {
                margin-top: 15px;
            }
        }
    }
}