.b-carousel_title {
    max-width: 100%;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        background-color: transparentize($lightbrown, .5);
        z-index: 1;

        @media (max-width: $tablet) {
            display: none;
        }
    }

    .owl-nav {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;

        button {
            width: 74px;
            height: 74px;
            outline: 0 none;

            @media (max-width: $tablet) {
                width: 44px;
                height: 44px;
            }

            span {
                display: none;
            }
        }

        .owl-prev {
            background: $lightbrown url(../img/ic-arrow-left-white.svg) no-repeat center !important;

            &:hover {
                background: $white url(../img/ic-arrow-right-brown-left.svg) no-repeat center !important;
            }
        }

        .owl-next {
            background: $lightbrown url(../img/ic-arrow-right-white.svg) no-repeat center !important;
            border-left: 1px solid $pavlova !important;

            &:hover {
                background: $white url(../img/ic-arrow-right-brown-right.svg) no-repeat center !important;
            }
        }
    }

    .title-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 30px 0 222px;
        background: url(../img/bg-column.png) no-repeat center;
        background-size: cover;
        color: $white;
        height: 766px;

        @media (max-width: $mediumDesctop) {
            padding: 0 30px 0 130px;
        }

        @media (max-width: $tablet) {
            padding: 0 30px 30px 15px;
            height: 450px;
        }

        @media (max-width: $smallMobile) {
            padding: 0 15px;
        }

        .subtitle {
            margin-top: 30px;
            max-width: 500px;

            @media (max-width: $tablet) {
                font-size: .8em;
                margin-top: 15px;
            }
        }

        .g-button {
            margin-top: 40px;
        }
    }

}