.b-carousel_person {
    display: flex;
    background: $white url(../img/bg-build.png) no-repeat right;
    background-size: contain;
    padding: 56px 36px 0 118px;

    @media (max-width: $desctop1600) {
        padding: 26px 30px 0 50px;
    }

    @media (max-width: $tablet) {
        padding: 15px 15px 0;
    }

    @media (max-width: $mobile) {
        background: none;
    }

    .owl-nav {
        display: flex;
        position: absolute;
        bottom: 0;
        right: 0;

        button {
            width: 74px;
            height: 74px;
            outline: 0 none;

            @media (max-width: $tablet) {
                width: 44px;
                height: 44px;
            }

            span {
                display: none;
            }
        }

        .owl-prev {
            background: $lightbrown url(../img/ic-arrow-left-white.svg) no-repeat center !important;

            &:hover {
                background: $white url(../img/ic-arrow-right-brown-left.svg) no-repeat center !important;
            }
        }

        .owl-next {
            background: $lightbrown url(../img/ic-arrow-right-white.svg) no-repeat center !important;
            border-left: 1px solid $pavlova !important;

            &:hover {
                background: $white url(../img/ic-arrow-right-brown-right.svg) no-repeat center !important;
            }
        }
    }

    .person__item {
        display: flex;
        flex: 1 0 0;

        @media (max-width: $desctop1440) {
            flex-direction: column;
        }

        &_info {
            width: 100%;
            background-position: right bottom;
            background-size: auto 505px;
            background-repeat: no-repeat;
            padding-bottom: 40px;

            &_title {
                font-size: 2.3em;
                line-height: 1.217;
                
                @media (max-width: $tablet) {
                    font-size: 1.4em;
                    line-height: normal;
                }
            }

            &_subtitle {
                font-size: 1.4em;
                line-height: 1.214;
                margin-top: 5px;

                @media (max-width: $tablet) {
                    font-size: 1em;
                    line-height: normal;
                }
            }

            &_list {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                margin-top: 43px;

                @media (max-width: $tablet) {
                    margin-top: 15px;
                }

                .list__item {
                    display: flex;
                    align-items: stretch;

                    & + .list__item {
                        margin-top: 26px;

                        @media (max-width: $tablet) {
                            margin-top: 15px;
                        }
                    }

                    &_icon {
                        flex: 16px 0;
                        max-height: 11px;
                        margin-top: 5px;

                        @media (max-width: $tablet) {
                            margin: 0;
                        }
                    }

                    &_text {
                        font-size: .9em;
                        margin-left: 16px;

                        @media (max-width: $tablet) {
                            font-size: .6em;
                        }
                    }
                }
            }
        }

        .person {
            display: block;
            align-self: flex-end;
            width: 540px;
            height: 545px;

            @media (max-width: $desctop1600) {
                width: 330px;
                height: 400px;
            }

            @media (max-width: $tablet) {
                width: 220px;
                height: 260px;
            }
        }
    }
}