.b-checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    max-width: 300px;

    @media (max-width: $mobile) {
        max-width: 100%;
    }

    .checkbox-label {
      position: relative;
      padding-left: 40px;
      color: $darkwood;
      font-size: .7em;

      &::before {
        content: '';
        -webkit-appearance: none;
        border: 2px solid $shadylady;
        background: transparent;
        background-size: cover;
        vertical-align: middle;
        cursor: pointer;
        width: 24px;
        height: 24px;
        position: absolute;
        left: 0;
        top: 50%;
        margin-top: -12px;
      }
    }

    input[type='checkbox'] {
      padding: 0;
      height: initial;
      width: initial;
      margin-bottom: 0;
      display: none;
      cursor: pointer;

      &:checked + .checkbox-label:before {
        background: url('../img/ic-check.svg') no-repeat center transparent;
      }
    }
  }