.b-expertise {
    display: flex;
    flex-wrap: wrap;
    flex: 1;

    @media (max-width: $tablet) {
        flex-direction: column;
    }

    .expertise__item {
        display: flex;
        flex: 50% 0;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        background-color: $white;
        padding: 65px 120px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        @media (max-width: $desctop1600) {
            padding: 50px 80px;
        }

        @media (max-width: $mediumDesctop) {
            padding: 50px;
        }

        @media (max-width: $tablet) {
            padding: 30px 15px;
        }

        &_label {
            position: relative;
            font-size: 1.1em;
            line-height: 1.286;
            font-weight: $f-medium;
            color: $lightbrown;
            border-left: 3px solid $lightbrown;
            padding-left: 24px;
        }

        &_text {
            font-family: 'Calibri';
            font-size: .9em;
            margin-top: 26px;

            @media (max-width: $tablet) {
                margin-top: 10px;
            }

            .text-item {
                font-family: 'Calibri';

                & + .text-item {
                    margin-top: 20px;

                    @media (max-width: $tablet) {
                        margin-top: 10px;
                    }
                }
            }
        }

        &_link {
            display: flex;
            align-items: center;
            margin-top: 26px;

            .text {
                font-family: 'Montserrat-Semibold';
                font-size: .8em;
                color: $sorrellbrown;
                text-transform: uppercase;
                padding-right: 16px;
            }
        }
    }
}