header {
    position: relative;
    padding-bottom: 50px;

    .holder {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;

        @media (max-width: $mobile) {
            flex-direction: column;
        }

        .contact-box {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: 30px;

            @media (max-width: $mobile) {
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                margin: 15px 0 0;
            }

            .contact-item {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                white-space: nowrap;
                
                & + .contact-item {
                    margin-left: 85px;

                    @media (max-width: $mobile) {
                        margin: 10px 0 0;
                    }
                }

                .text {
                    font-family: 'Montserrat-Medium';
                    font-size: .9em;
                    line-height: 1.222;
                    margin-left: 20px;
                }
            }
        }
    }
}