.b-menu {
    display: flex;
    flex-direction: column;

    @media (max-width: $tablet) {
        
    }

    .menu__item {

        & + .menu__item {
            margin-top: 50px;

            @media (max-width: $tablet) {
                margin-top: 20px;
            }
        }

        &-link {
            display: flex;
            align-items: center;

            &_icon {
                display: block;
                flex: 22px 0 0;
                max-width: 22px;
            }

            &_name {
                font-size: 1.05em;
                line-height: 1.238;
                margin-left: 35px;

                @media (max-width: $tablet) {
                    font-size: .7em;
                    margin-left: 15px;
                }
            }
        }
    }
}