.b-partners {
    display: flex;
    flex: 1;

    .hold__img {
        flex: 364px 0 0;
        background: url(../img/bg-columns2.png) no-repeat center;
        background-size: cover;

        @media (max-width: $desctop) {
            display: none;
        }
    }

    .hold__items {
        display: flex;
        flex-wrap: wrap;
        flex: 1;

        &.min-height {
            min-height: calc(100vh - 189px);

            @media (max-width: $tablet) {
                min-height: auto;
            }
        }

        .item__partner {
            display: flex;
            justify-content: center;
            align-items: center;
            flex: 50% 0;
            height: 290px;
            padding: 30px;
            background-color: $whitesmoke;

            &.whitesmoke2 {
                background-color: $whitesmoke2;
            }

            @media (max-width: $desctop) {
                height: auto;
            }

            @media (max-width: $smallMobile) {
                flex: 100%;
            }
        }
    }
}