.b-projects {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;
    background: $limedspruce url(../img/bg-columns.png) no-repeat left;
    background-size: contain;

    @media (max-width: $desctop) {
        background-size: cover;
    }

    &.project-inn {
        background: $limedspruce;

        .holder {
            padding: 0;

            .hold__label {
                background: $limedspruce url(../img/bg-columns.png) no-repeat top;
                background-size: cover;
                border: none;
                padding: 66px 70px 66px 120px;

                @media (max-width: $tablet) {
                    padding: 30px 15px;
                }

                .text {
                    display: inline-block;
                    border-left: 3px solid $sorrellbrown;
                    padding-left: 24px;
                }
            }

            .b-analytics {
                padding: 25px 70px 50px 120px;

                @media (max-width: $tablet) {
                    padding: 30px 15px;
                }

                .analytics-item {
                    padding-top: 0;

                    & + .analytics-item {

                        @media (max-width: $tablet) {
                            margin: 15px 0 0;
                        }
                    }

                    .hold-number {
                        flex-wrap: wrap;

                        .number__item {

                            @media (max-width: $tablet) {
                                // align-items: center;
                            }

                            & + .number__item {

                            }
                        }
                    }
                }
            }
        }
    }

    &.white {
        background: $white;

        .holder {
            padding: 45px 0 15px 120px;

            @media (max-width: $tablet) {
                padding: 30px 15px;
            }

            .hold__label {
                border-color: $sorrellbrown;

                .text {
                    color: $black;
                }
            }

            .b-analytics {

                .analytics-item {
                    padding-top: 35px;

                    .hold-number {
                        flex-wrap: wrap;
                        justify-content: flex-start;
                        flex-direction: row;
                        box-sizing: border-box;

                        @media (max-width: $tablet) {
                            flex-direction: column;
                        }
                        
                        .number__item {
                            flex: 33%;
                            padding: 0 40px 30px 0;
                            align-items: center;

                            @media (max-width: $tablet) {
                                flex: 100%;
                                padding: 0;
                            }

                            @media (max-width: $mobile) {
                                align-items: flex-start;
                            }

                            & + .number__item {
                                margin: 0;

                                @media (max-width: $tablet) {
                                    margin: 15px 0 0;
                                }
                            }

                            .number {
                                color: $limedspruce;
                            }
    
                            .hold-text {
                                color: $black;
                                margin: 0 0 0 10px;

                                @media (max-width: $mobile) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .holder {
        display: flex;
        flex-direction: column;
        padding: 80px 40px 130px 130px;

        @media (max-width: $mediumDesctop) {
            padding: 50px;
        }

        @media (max-width: $tablet) {
            padding: 30px 15px;
        }

        .hold__label {
            padding-left: 24px;
            border-left: 3px solid $navajowhite;

            .text {
                font-size: 1.5em;
                color: $white;

                @media (max-width: $tablet) {
                    font-size: 1.1em;
                }
            }
        }

        .b-analytics {

            .analytics-item {
                padding: 64px 0 0;
                background: none;

                @media (max-width: $tablet) {
                    padding: 30px 0 0;
                }

                &.padding-right {
                    padding-right: 100px;

                    @media (max-width: $mediumDesctop) {
                        padding-right: 0;
                    }
                }

                .hold-number {
                    flex: 1;
                    justify-content: space-between;
                    align-items: flex-start;

                    &.flex-start {
                        justify-content: flex-start;
                    }

                    .number__item {

                        @media (max-width: $mobile) {
                            flex: 100%;
                            flex-direction: column;
                        }

                        .number {
                            font-size: 2.9em;
                            line-height: normal;
                            white-space: nowrap;
                        }

                        &.center {
                            align-items: center;

                            @media (max-width: $mobile) {
                                align-items: flex-start;
                            }

                            .hold-text {
                                margin-top: 0;
                            }
                        }

                        .hold-text {

                            @media (max-width: $mobile) {
                                margin: 0;
                            }

                            .title {
                                font-size: 1.2em;
                                text-transform: none;
                            }

                            .subtitle {
                                font-size: 1em;
                            }
                        }
                    }

                    .g-button {
                        background-color: $white;
                        color: $limedspruce;
                        max-width: 201px;
                        width: 100%;
                        margin-top: 61px;
                    }
                }
            }
        }
    }

    .holder__item {
        display: flex;
        flex-direction: column;
        padding: 90px;
        background-color: $limedspruce;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;

        @media (max-width: $mediumDesctop) {
            padding: 58px;
        }

        @media (max-width: $desctop) {
            padding: 58px 30px;
        }

        @media (max-width: $tablet) {
            padding: 30px 15px;
        }

        .item__project {
            display: flex;
            flex-direction: column;
            position: relative;
            padding-left: 30px;
            color: $white;

            & + .item__project {
                margin-top: 45px;
            }

            &:before {
                content: '';
                position: absolute;
                top: 3px;
                left: 0;
                border-top: 16px solid $navajowhite;
                border-right: 16px solid transparent;

            }

            &_label {
                font-size: 1.1em;

                @media (max-width: $tablet) {
                    font-size: .9em;
                }
            }

            &_text {
                font-family: 'Calibri';
                font-size: .9em;
                margin-top: 26px;

                @media (max-width: $tablet) {
                    font-size: .7em;
                }
            }
        }
    }
}