.b-quote {
    position: relative;
    background: $blackhaze url(../img/bg-triang-white.png) no-repeat bottom right;
    padding: 36px 130px 36px 51px;

    @media (max-width: $mobile) {
        padding: 30px 15px;
    }

    &:after {
        content: '';
        position: absolute;
        top: 30px;
        right: 20px;
        background: url(../img/ic-quotes.svg) no-repeat center;
        width: 50px;
        height: 37px;
    }

    p {
        font-family: 'Calibri-LightItalic';
        font-size: 1.2em;
        color: $lynch;

        & + p {
            margin-top: 15px;
        }
    }
}