.b-section {

    .holder {
        display: flex;
        align-items: stretch;

        @media (max-width: $tablet) {
            flex-direction: column;
        }

        .sidebar {
            display: flex;
            flex-direction: column;
            flex: 364px 0 0;
            background-color: $wildsand;
            padding: 58px 40px 58px 60px;

            @media (max-width: $mediumDesctop) {
                flex: 280px 0 0;
            }

            @media (max-width: $tablet) {
                flex: 100% 0 0;
                padding: 15px;
            }

            &.centered {
                justify-content: center;
            }

            &.lightbrown {
                background: $lightbrown;

                &.triangl {
                    background: $lightbrown url(../img/bg-brown-triangl.png) no-repeat right bottom;

                    @media (max-width: $tablet) {
                        background: $lightbrown;
                    }
                }

                .label {
                    color: $white;

                }
            }

            &.white {
                background-color: $white;

                .label {
                    color: $lightbrown;
                }
            }

            &.pic-bg {
                background: $wildsand url(../img/bg-white-triangl.png) no-repeat;
                background-position: right bottom;

                @media (max-width: $tablet) {
                    background: $wildsand;
                }
            }

            .route {
                font-family: 'Calibri';
                font-size: .7em;
                color: $limedspruce;
                padding-bottom: 24px;

                &.white {
                    color: $white;
                }
            }

            .label {
                font-family: 'Montserrat-Regular';
                font-weight: 600;
                color: $lightbrown;
                text-transform: uppercase;
            }
        }

        .content {
            display: flex;
            flex: 1 0 0;
            background-color: $white;
            
            &.overflow {
                overflow: hidden;

                @media (max-width: $tablet) {
                    flex: 100%;
                }
            }

            &.column {
                flex-direction: column;
            }
        }
    }
}