.b-values {
    display: flex;
    flex: 1 0 0;
    position: relative;
    background: url(../img/bg-library.png) no-repeat left;
    background-size: 50% 100%;
    padding-left: 50%;

    @media (max-width: $desctop) {
        padding-left: 40%;
    }

    @media (max-width: $mobile) {
        padding: 0;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100px;
        background-color: transparentize($lightbrown, .5);

        @media (max-width: $tablet) {
            width: 50px;
        }

        @media (max-width: $mobile) {
            display: none;
        }
    }

    .hold-values {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        flex: 1 0 0;
        padding: 68px 71px 52px;
        background-color: $limedspruce;

        @media (max-width: $mediumDesctop) {
            padding: 38px 36px 26px;
        }

        @media (max-width: $mobile) {
            padding: 15px;
        }

        .value__item {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            & + .value__item {
                margin-top: 53px;

                @media (max-width: $mobile) {
                    margin-top: 25px;
                }
            }

            &_label {
                display: flex;
                align-items: center;

                .name {
                    font-family: 'Montserrat-Medium';
                    font-size: 1.2em;
                    line-height: 1.208;
                    color: $navajowhite;
                    margin-left: 18px;

                    @media (max-width: $mobile) {
                        margin-left: 5px;
                    }
                }
            }

            &_text {
                font-family: 'Calibri';
                font-weight: 300;
                color: $white;
                margin-top: 24px;

                @media (max-width: $mobile) {
                    font-size: .8em;
                    line-height: normal;
                    margin-top: 10px;
                }
            }
        }
    }
}