<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <link rel="icon" href="img/ic-favicon.ico" /> 
    <link rel="stylesheet" href="css/style.bundle.css" />

    <title><%=title%></title>
  </head>
  <body>

    <div class="g-wrapper">
        <header id="header" class="b-header">
            <div class="holder">
                <div class="logo">
                    <img src="img/ic-logo.png" alt="">
                </div>
                <div class="contact-box">
                    <div class="contact-item">
                        <img src="img/ic-phone.svg" alt="">
                        <span class="text">+7 495 334-76-98</span>
                    </div>
                    <div class="contact-item">
                        <img src="img/ic-mail.svg" alt="">
                        <span class="text">info@crpa.ru</span>
                    </div>
                </div>
            </div>
        </header>

