<% var data = {
    title: "Фонд проблемных активов"
  }; %>
  
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <section class="b-section">
    <div class="holder">
        <div class="sidebar">
            <div class="route"><a href="#">Главная</a> > <a href="#">О фонде</a></div>
            <div class="label">о фонде проблемных активов</div>
        </div>
        <div class="content">
            <div class="b-about">
                <div class="hold__img">
                    <!-- <img src="img/bg-about.png" alt=""> -->
                </div>
                <div class="hold__content">
                    <div class="b-quote">
                        <p>Фонд проблемных активов оказывает клиентам комплексные услуги по работе с проблемными активами на отечественном и международном рынке. Фонд объединил квалифицированных экспертов из сферы финансов и права, которые умеют достигать максимального финансового результата при работе с проблемными активами.</p>
                    </div>
                    <div class="hold__info">
                        <div class="info__title">
                           <span class="text">Сфера деятельности Фонда проблемных активов</span>
                        </div>
                        <span class="info__subtitle">Фонд выполняет все необходимые работы для достижения поставленной задачи в работе с проблемными активами:</span>
                        <ul class="info__list">
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-rect-brown.svg" alt="">
                                <span class="item-text">Партнерство в рамках проектов по управлению проблемными активами. Фонд может выступить партнером в любой сложной ситуации, в том числе: взять на себя затраты на сопровождение проекта и сформировать команду экспертов, способных выполнить все необходимые работы в рамках реализации проекта.
                                </span>
                            </li>
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-rect-brown.svg" alt="">
                                <span class="item-text">Выкуп проблемных активов. Фонд готов выкупить проблемные активы в текущем состоянии, что является наиболее простым и быстрым способом получения реальных денежных средств. Эксперты Фонда проблемных активов разрабатывают стратегию и выполняют необходимые работы по приобретению активов.
                                </span>
                            </li>
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-rect-brown.svg" alt="">
                                <span class="item-text">Инвестиции в проблемные активы. Специалисты Фонда способны грамотно оценить перспективы проблемных активов, выработать адекватную стратегию работы с ними, чтобы вернуть максимум инвестиционных средств. Фонд проблемных активов может приобрести проблемные активы в пользу или совместно с инвестором, с последующим ведением и реализацией проекта.
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="hold__info">
                        <div class="info__title">
                           <span class="text">Эксперты Фонда проблемных активов</span>
                        </div>
                        <span class="info__subtitle">Эксперты Фонда обладают опытом работы с проблемными активами более 10 лет, включая следующие направления:</span>
                        <ul class="info__list">
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-check.svg" alt="">
                                <span class="item-text">управление проектами, предусматривающими получение управленческого контроля при сохранении непрерывности работы активов;
                                </span>
                            </li>
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-check.svg" alt="">
                                <span class="item-text">управление проектами, предусматривающими получение управленческого контроля при сохранении непрерывности работы активов;
                                </span>
                            </li>
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-check.svg" alt="">
                                <span class="item-text">управление проектами, предусматривающими получение управленческого контроля при сохранении непрерывности работы активов;
                                </span>
                            </li>
                        </ul>
                    </div>
                    <div class="hold__info">
                        <div class="info__title">
                           <span class="text">Преимущества</span>
                        </div>
                        <span class="info__subtitle">Фонд — это комплексная помощь в разрешении любых проблемных ситуаций с проблемными активами:</span>
                        <ul class="info__list">
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-rect-brown.svg" alt="">
                                <span class="item-text">Партнерство в рамках проектов по управлению проблемными активами. Фонд может выступить партнером в любой сложной ситуации, в том числе: взять на себя затраты на сопровождение проекта и сформировать команду экспертов, способных выполнить все необходимые работы в рамках реализации проекта.
                                </span>
                            </li>
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-rect-brown.svg" alt="">
                                <span class="item-text">Выкуп проблемных активов. Фонд готов выкупить проблемные активы в текущем состоянии, что является наиболее простым и быстрым способом получения реальных денежных средств. Эксперты Фонда проблемных активов разрабатывают стратегию и выполняют необходимые работы по приобретению активов.
                                </span>
                            </li>
                            <li class="info__list__item">
                                <img class="item-img" src="img/ic-rect-brown.svg" alt="">
                                <span class="item-text">Инвестиции в проблемные активы. Специалисты Фонда способны грамотно оценить перспективы проблемных активов, выработать адекватную стратегию работы с ними, чтобы вернуть максимум инвестиционных средств. Фонд проблемных активов может приобрести проблемные активы в пользу или совместно с инвестором, с последующим ведением и реализацией проекта.
                                </span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar lightbrown triangl">
            <div class="label">Напишите нам</div>
        </div>
        <div class="content">
            <div class="b-form">
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Укажите ваши Ф.И.О.</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">Какую организацию Вы представляете:</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Телефон</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">E-mail</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Текст вопроса:</div>
                        <textarea class="form-area" name="" ></textarea>
                    </div>
                </div>
                <div class="hold-btn">
                    <label class="b-checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">Даю согласие на обработку моих персональных данных</span>
                    </label>
                    <button class="g-button brown" type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</section>

  <%= _.template(require('./../includes/footer.html').default)(data) %>