<% var data = {
    title: "Фонд проблемных активов"
  }; %>
  
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <section class="b-section">
    <div class="holder">
        <div class="sidebar">
            <div class="route">Главная > Аналитика</div>
            <div class="label">Аналитика</div>
        </div>
        <div class="content">
            <div class="b-analytics">
                <div class="analytics-item">
                    <div class="hold-number">
                        <div class="number__item">
                            <div class="number">46</div>
                            <div class="hold-text">
                                <span class="title">Партнеров</span>
                                <span class="subtitle">в рамках управления активами</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">45</div>
                            <div class="hold-text">
                                <span class="title">млн.руб.</span>
                                <span class="subtitle">инвестиции в проблемные активы</span>
                            </div>
                        </div>
                    </div>
                    <div class="label">Анализ текущего положения, прогнозы</div>
                    <div class="text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</div>
                </div>
                <div class="analytics-item pic-bg">
                    <div class="hold-number">
                        <div class="number__item">
                            <div class="number">210</div>
                            <div class="hold-text">
                                <span class="title">Активов</span>
                                <span class="subtitle">выкуплено за весь период</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">5</div>
                            <div class="hold-text">
                                <span class="title">млн.руб.</span>
                                <span class="subtitle">инвестиции в проблемные активы</span>
                            </div>
                        </div>
                    </div>
                    <div class="text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</div>
                </div>
            </div>
        </div>
    </div>
  </section>

  <section class="b-section"> 
    <div class="holder">
        <div class="sidebar lightbrown triangl">
            <div class="label">E-mail</div>
        </div>
        <div class="content">
            <div class="b-form grey">
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Укажите ваши Ф.И.О.</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">Какую организацию Вы представляете:</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Телефон</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">E-mail</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Текст вопроса:</div>
                        <textarea class="form-area" name="" ></textarea>
                    </div>
                </div>
                <div class="hold-btn">
                    <label class="b-checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">Даю согласие на обработку моих персональных данных</span>
                    </label>
                    <button class="g-button brown" type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </div>
  </section>

  <%= _.template(require('./../includes/footer.html').default)(data) %> 