<% var data = {
    title: "Фонд проблемных активов"
  }; %>
  
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <section class="b-section">
    <div class="holder">
        <div class="sidebar">
            <div class="route">Главная > Контакты</div>
            <div class="label">Контакты</div>
        </div>
        <div class="content">
            <div class="b-contacts">
                <div id="map" class="hold__map">
                    
                </div>
                <ul class="hold__contacts min-height">
                    <li class="contact__item">
                        <img src="img/ic-pin.svg" alt="" />
                        <div class="contact__item_text">
                            115172, г.Москва,<br>Котельническая наб., 29
                        </div>
                    </li>
                    <div class="contact__item">
                        <img src="img/ic-phone-white.svg" alt="" />
                        <div class="contact__item_text">
                            +7 (495) 921 03 70
                        </div>
                    </div>
                    <div class="contact__item">
                        <img src="img/ic-mail-white.svg" alt="" />
                        <a href='#' class="contact__item_text">
                            info@gmail.com
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>

  <%= _.template(require('./../includes/footer.html').default)(data) %>