<% var data = {
    title: "Фонд проблемных активов"
  }; %>
  
  <%= _.template(require('./../includes/header.html').default)(data) %>


<section class="b-section">
    <div class="holder">
        <div class="sidebar centered">
            <ul class="b-menu">
                <li class="menu__item">
                    <a href="#" class="menu__item-link">
                        <img class="menu__item-link_icon" src="img/ic-fond.svg" alt="" />
                        <span class="menu__item-link_name">О Фонде</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item-link">
                        <img class="menu__item-link_icon" src="img/ic-analytics.svg" alt="">
                        <span class="menu__item-link_name">Аналитика</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item-link">
                        <img class="menu__item-link_icon" src="img/ic-expertise.svg" alt="">
                        <span class="menu__item-link_name">Экспертиза</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item-link">
                        <img class="menu__item-link_icon" src="img/ic-projects.svg" alt="">
                        <span class="menu__item-link_name">Проекты</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item-link">
                        <img class="menu__item-link_icon" src="img/ic-partners.svg" alt="">
                        <span class="menu__item-link_name">Партнеры</span>
                    </a>
                </li>
                <li class="menu__item">
                    <a href="" class="menu__item-link">
                        <img class="menu__item-link_icon" src="img/ic-mail.svg" alt="">
                        <span class="menu__item-link_name">Контакты</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="content overflow">
            <div class="b-carousel_title js-carousel owl-carousel">
                <div class="title-box">
                    <div class="g-title-h1">Фонд проблемных<br>активов</div>
                    <div class="subtitle">
                        Все грани управления проблемными активами для достижения максимального финансового результата
                    </div>
                    <a href="#" class="g-button white">Подробнее</a>
                </div>
                <div class="title-box">
                    <div class="g-title-h1">Фонд проблемных<br>активов</div>
                    <div class="subtitle">
                        Все грани управления проблемными активами для достижения максимального финансового результата
                    </div>
                    <a href="" class="g-button white">Подробнее</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar lightbrown triangl">
            <div class="label">Лица</div>
        </div>
        <div class="content overflow">
            <div class="b-carousel_person js-carousel owl-carousel">
                <div class="person__item">
                    <div class="person__item_info">
                        <div class="person__item_info_title">Юрий Свистунов</div>
                        <div class="person__item_info_subtitle">персональный опыт, проекты</div>
                        <ul class="person__item_info_list">
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Ведущий эксперт Фонда</div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Опыт управления крупнейшими дефолтными проектами, предусматривающими получение управленческого контроля при сохранении непрерывности деятельности операционных активов компаний.</div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Реализация проектов по закрытию ряда  региональных ритейл холдингов;</div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Многолетний опыт управления активами в различных отраслях: ритейл, гостиничный бизнес, недвижимость, в том числе  управление проектами, включающими в себя достройку жилья (достроено более 120 тысяч кв. метров жилой недвижимости); промышленность, электроэнергетика и прочих;
                                </div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Общий объем возврата по реализованным проектам более 130 млрд руб.
                                </div>
                            </li>
                        </ul>
                    </div>
                    <img class="person" src="img/bg-manag.png" alt="" />
                </div>
                <!-- <div class="person__item">
                    <div class="person__item_info">
                        <div class="person__item_info_title">Юрий Свистунов</div>
                        <div class="person__item_info_subtitle">персональный опыт, проекты</div>
                        <ul class="person__item_info_list">
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Ведущий эксперт Фонда</div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Опыт управления крупнейшими дефолтными проектами, предусматривающими получение управленческого контроля при сохранении непрерывности деятельности операционных активов компаний.</div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Реализация проектов по закрытию ряда  региональных ритейл холдингов;</div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Многолетний опыт управления активами в различных отраслях: ритейл, гостиничный бизнес, недвижимость, в том числе  управление проектами, включающими в себя достройку жилья (достроено более 120 тысяч кв. метров жилой недвижимости); промышленность, электроэнергетика и прочих;
                                </div>
                            </li>
                            <li class="list__item">
                                <img class="list__item_icon" src="img/ic-check.svg" alt="">
                                <div class="list__item_text">Общий объем возврата по реализованным проектам более 130 млрд руб.
                                </div>
                            </li>
                        </ul>
                    </div>
                    <img class="person" src="img/bg-manager.png" alt="" />
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar">
            <div class="label">Сфера деятельности</div>
        </div>
        <div class="content">
            <div class="b-activity">
                <div class="block-title">
                    Полный комплекс работ с проблемными активами для достижения максимального финансового результата
                </div>
                <div class="hold-solution">
                    <div class="solution__item">
                        <img class="solution__item_icon" src="img/ic-agreement.svg" alt="">
                        <div class="solution__item_label">
                           <span class="solution__item_label_inner">Партнерство в рамках проектов по управлению проблемными активами</span>
                        </div>
                        <div class="solution__item_text">
                           <div class="text-item">Проблемная ситуация требует значительных затрат на ее сопровождение, и Фонд готов стать партнером, работая на результат: 
                            взять на себя затраты по сопровождению проекта, сформировать проектную команду, состоящую из компетентных специалистов, и выполнить весь комплекс работ по реализации проекта.</div>
                        </div>
                    </div>
                    <div class="solution__item">
                        <img class="solution__item_icon" src="img/ic-money-bag.svg" alt="">
                        <div class="solution__item_label">
                            <span class="solution__item_label_inner">Выкуп проблемных активов</span>
                        </div>
                        <div class="solution__item_text">
                           <div class="text-item">Один из самых быстрых вариантов решения вопроса с проблемными активами – продажа этих активов в текущем состоянии с целью оперативного получения денежных средств.</div>
                           <div class="text-item">Фонд рассматривает и осуществляет полный комплекс работ по приобретению проблемных активов.</div>
                        </div>
                    </div>
                    <div class="solution__item">
                        <img class="solution__item_icon" src="img/ic-contract.svg" alt="">
                        <div class="solution__item_label">
                            <span class="solution__item_label_inner">Инвестиции в проблемные активы</span>
                        </div>
                        <div class="solution__item_text">
                            <div class="text-item">Многолетний и всесторонний опыт специалистов Фонда дает возможность правильно оценить перспективы активов, находящихся в проблемном состоянии, выработать верную стратегию работы с ними и обеспечить максимальный возврат на инвестиции в такие активы.</div>
                            <div class="text-item">Фонд работает с инвесторами, приобретая проблемные активы в пользу инвестора или совместно с инвестором с последующим ведением и реализацией проекта для достижения максимального финансового результата.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar white">
            <div class="label">Ценности</div>
        </div>
        <div class="content">
            <div class="b-values">
                <div class="hold-values">
                    <div class="value__item">
                        <div class="value__item_label">
                            <img src="img/ic-diamond.svg" alt="">
                            <div class="name">Честность</div>
                        </div>
                        <div class="value__item_text">Честность как внутри компании, так и при взаимодействии с партнерами – залог долгосрочного эффективного взаимодействия.</div>
                    </div>
                    <div class="value__item">
                        <div class="value__item_label">
                            <img src="img/ic-diamond.svg" alt="">
                            <div class="name">Ответственность</div>
                        </div>
                        <div class="value__item_text">Включение в проект подразумевает полную ответственность за принимаемые и предлагаемые решения, сроки и результат.
                        </div>
                    </div>
                    <div class="value__item">
                        <div class="value__item_label">
                            <img src="img/ic-diamond.svg" alt="">
                            <div class="name">Профессионализм</div>
                        </div>
                        <div class="value__item_text">В основе каждого решения, каждого шага, каждого предложения – только профессиональная оценка, подкрепленная опытом.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar">
            <div class="label">Преимущества</div>
        </div>
        <div class="content">
            <div class="b-advantages">
                <div class="advantage__item">
                    <div class="advantage__item_label">Уникальный профессиональный опыт</div>
                    <div class="advantage__item_text">Честность как внутри компании, так и при взаимодействии с партнерами – залог долгосрочного эффективного взаимодействия.</div>
                </div>
                <div class="advantage__item wildsand">
                    <div class="advantage__item_label">Штат специалистов в разных областях</div>
                    <div class="advantage__item_text">Наличие опытных специалистов в области аналитики, гражданского и уголовного права, финансового консалтинга, форензик аудита, экспертов по банкротству дает возможность сформировать проектную команду с учетом особенностей каждого проекта.
                    </div>
                </div>
                <div class="advantage__item whitesmoke">
                    <div class="advantage__item_label">Стратегический подход</div>
                    <div class="advantage__item_text">Каждый проект индивидуален. Разработка верной стратегии реализации проекта с учетом особенностей отрасли, бизнеса и конкретной ситуации – в основе каждого успешного проекта.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar lightbrown triangl">
            <div class="label">E-mail</div>
        </div>
        <div class="content">
            <div class="b-form">
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Укажите ваши Ф.И.О.</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">Какую организацию Вы представляете:</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Телефон</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">E-mail</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Текст вопроса:</div>
                        <textarea class="form-area" name="" ></textarea>
                    </div>
                </div>
                <div class="hold-btn">
                    <label class="b-checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">Даю согласие на обработку моих персональных данных</span>
                    </label>
                    <button class="g-button brown" type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar white">
            <div class="label">Аналитика</div>
        </div>
        <div class="content">
            <div class="b-analytics">
                <div class="analytics-item">
                    <div class="hold-number">
                        <div class="number__item">
                            <div class="number">46</div>
                            <div class="hold-text">
                                <span class="title">Партнеров</span>
                                <span class="subtitle">в рамках управления активами</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">45</div>
                            <div class="hold-text">
                                <span class="title">млн.руб.</span>
                                <span class="subtitle">инвестиции в проблемные активы</span>
                            </div>
                        </div>
                    </div>
                    <div class="label">Анализ текущего положения, прогнозы</div>
                    <div class="text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</div>
                </div>
                <div class="analytics-item pic-bg">
                    <div class="hold-number">
                        <div class="number__item">
                            <div class="number">210</div>
                            <div class="hold-text">
                                <span class="title">Активов</span>
                                <span class="subtitle">выкуплено за весь период</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">5</div>
                            <div class="hold-text">
                                <span class="title">млн.руб.</span>
                                <span class="subtitle">инвестиции в проблемные активы</span>
                            </div>
                        </div>
                    </div>
                    <div class="text">С другой стороны постоянное информационно-пропагандистское обеспечение нашей деятельности обеспечивает широкому кругу (специалистов) участие в формировании позиций, занимаемых участниками в отношении поставленных задач.</div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar pic-bg">
            <div class="label">Экспертиза</div>
        </div>
        <div class="content">
            <div class="b-expertise">
                <div class="expertise__item" style="background-image: url(img/bg-work.png);">
                    <div class="expertise__item_label">Знание рынка и текущей ситуации в области проблемных активов</div>
                    <div class="expertise__item_text">
                        <div class="text-item">Эксперты Фонда – активные участники рынка, держащие руку на пульсе процессов и изменений, происходящих в данный момент. Это позволяет быстро и верно определять инвестиционный потенциал возникающих и имеющихся на рынке проблемных активов</div>
                    </div>
                    <a href="#" class="expertise__item_link">
                        <div class="text">Подробнее</div>
                        <img src="img/ic-arrow-right-brown.svg" alt="">
                    </a>
                </div>
                <div class="expertise__item">
                    <div class="expertise__item_label">Знание рынка и текущей ситуации в области проблемных активов</div>
                    <div class="expertise__item_text">
                        <div class="text-item">Эксперты Фонда – активные участники рынка, держащие руку на пульсе процессов и изменений, происходящих в данный момент. Это позволяет быстро и верно определять инвестиционный потенциал возникающих и имеющихся на рынке проблемных активов</div>
                    </div>
                    <a href="#" class="expertise__item_link">
                        <div class="text">Подробнее</div>
                        <img src="img/ic-arrow-right-brown.svg" alt="">
                    </a>
                </div>
                <div class="expertise__item">
                    <div class="expertise__item_label">Знание рынка и текущей ситуации в области проблемных активов</div>
                    <div class="expertise__item_text">
                        <div class="text-item">Эксперты Фонда – активные участники рынка, держащие руку на пульсе процессов и изменений, происходящих в данный момент. Это позволяет быстро и верно определять инвестиционный потенциал возникающих и имеющихся на рынке проблемных активов</div>
                    </div>
                    <a href="#" class="expertise__item_link">
                        <div class="text">Подробнее</div>
                        <img src="img/ic-arrow-right-brown.svg" alt="">
                    </a>
                </div>
                <div class="expertise__item" style="background-image: url(img/bg-notebook.png);">
                    <div class="expertise__item_label">Знание рынка и текущей ситуации в области проблемных активов</div>
                    <div class="expertise__item_text">
                        <div class="text-item">Эксперты Фонда – активные участники рынка, держащие руку на пульсе процессов и изменений, происходящих в данный момент. Это позволяет быстро и верно определять инвестиционный потенциал возникающих и имеющихся на рынке проблемных активов</div>
                    </div>
                    <a href="#" class="expertise__item_link">
                        <div class="text">Подробнее</div>
                        <img src="img/ic-arrow-right-brown.svg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar white">
            <div class="label">Проекты</div>
        </div>
        <div class="content">
            <div class="b-projects">
                <div class="holder">
                    <div class="hold__label">
                        <span class="text">Суммарная информация по кейсам «недвижимость» и «транспортная спецтехника»:</span>
                    </div>
                    <div class="b-analytics">
                        <div class="analytics-item padding-right">
                            <div class="hold-number">
                                <div class="number__item center">
                                    <div class="number">7</div>
                                    <div class="hold-text">
                                        <span class="title">Количество партнеров</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">556,7</div>
                                    <div class="hold-text">
                                        <span class="title">млн.руб.</span>
                                        <span class="subtitle">Суммарный денежный поток по всем проектам</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">229,2</div>
                                    <div class="hold-text">
                                        <span class="title">млн.руб.</span>
                                        <span class="subtitle">Суммарные расходы по всем проектам</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="analytics-item">
                            <div class="hold-number">
                                <div class="number__item">
                                    <div class="number">242,9 %</div>
                                    <div class="hold-text">
                                        <span class="title">IRR по всем проектам</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">142,9 %</div>
                                    <div class="hold-text">
                                        <span class="title">EBITDA margin, %</span>
                                    </div>
                                </div>
                                <a href="#" class="g-button white">Все проекты</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="holder__item" style="background-image: url(img/bg-columns.png);">
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                </div>
                <div class="holder__item">
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar lightbrown">
            <div class="label">Партнеры</div>
        </div>
        <div class="content">
            <div class="b-partners">
                <div class="hold__img"></div>
                <div class="hold__items">
                    <div class="item__partner whitesmoke2">
                        <img src="img/ic-cpa.png" alt="">
                    </div>
                    <div class="item__partner">
                        <img src="img/ic-tbg.png" alt="">
                    </div>
                    <div class="item__partner">
                        <img src="img/ic-roo.png" alt="">
                    </div>
                    <div class="item__partner whitesmoke2">
                        <img src="img/ic-torgrus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="b-section">
    <div class="holder">
        <div class="sidebar">
            <div class="label">Контакты</div>
        </div>
        <div class="content">
            <div class="b-contacts">
                <div id="map" class="hold__map">
                    
                </div>
                <ul class="hold__contacts">
                    <li class="contact__item">
                        <img src="img/ic-pin.svg" alt="" />
                        <div class="contact__item_text">
                            115172, г.Москва,<br>Котельническая наб., 29
                        </div>
                    </li>
                    <div class="contact__item">
                        <img src="img/ic-phone-white.svg" alt="" />
                        <div class="contact__item_text">
                            +7 (495) 921 03 70
                        </div>
                    </div>
                    <div class="contact__item">
                        <img src="img/ic-mail-white.svg" alt="" />
                        <a href='#' class="contact__item_text">
                            info@gmail.com
                        </a>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %>
