<% var data = {
    title: "Фонд проблемных активов"
  }; %>
  
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <section class="b-section">
    <div class="holder">
        <div class="sidebar lightbrown">
            <div class="route white">Главная > Партнеры</div>
            <div class="label">Партнеры</div>
        </div>
        <div class="content">
            <div class="b-partners">
                <div class="hold__img"></div>
                <div class="hold__items min-height">
                    <div class="item__partner whitesmoke2">
                        <img src="img/ic-cpa.png" alt="">
                    </div>
                    <div class="item__partner">
                        <img src="img/ic-tbg.png" alt="">
                    </div>
                    <div class="item__partner">
                        <img src="img/ic-roo.png" alt="">
                    </div>
                    <div class="item__partner whitesmoke2">
                        <img src="img/ic-torgrus.png" alt="">
                    </div>
                    <div class="item__partner">
                        <img src="img/ic-roo.png" alt="">
                    </div>
                    <div class="item__partner whitesmoke2">
                        <img src="img/ic-torgrus.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <%= _.template(require('./../includes/footer.html').default)(data) %> 