<% var data = {
  title: "Фонд проблемных активов"
}; %>

<%= _.template(require('./../includes/header.html').default)(data) %>

<section class="b-section">
    <div class="holder">
        <div class="sidebar white">
            <div class="route">
                <a href="#">Главная</a> 
                >
                <a href="#">Проекты</a> 
            </div>
            <div class="label">Проекты</div>
        </div>
        <div class="content column">
            <div class="b-projects project-inn">
                <div class="holder">
                    <div class="hold__label">
                        <span class="text">Суммарная информация по кейсам «недвижимость» и «транспортная спецтехника»:</span>
                    </div>
                    <div class="b-analytics">
                        <div class="analytics-item padding-right">
                            <div class="hold-number">
                                <div class="number__item center">
                                    <div class="number">7</div>
                                    <div class="hold-text">
                                        <span class="title">Количество партнеров</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">556,7</div>
                                    <div class="hold-text">
                                        <span class="title">млн.руб.</span>
                                        <span class="subtitle">Суммарный денежный поток по всем проектам</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">229,2</div>
                                    <div class="hold-text">
                                        <span class="title">млн.руб.</span>
                                        <span class="subtitle">Суммарные расходы по всем проектам</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="analytics-item">
                            <div class="hold-number flex-start">
                                <div class="number__item">
                                    <div class="number">242,9 %</div>
                                    <div class="hold-text">
                                        <span class="title">IRR по всем проектам</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">142,9 %</div>
                                    <div class="hold-text">
                                        <span class="title">EBITDA margin, %</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="holder__item" style="background-image: url(img/bg-columns.png);">
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                </div>
                <div class="holder__item">
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                </div> -->
            </div>
            <div class="b-projects white">
                <div class="holder">
                    <div class="hold__label">
                        <span class="text">Кейсы по проблемным объектам «недвижимость»:</span>
                    </div>
                    <div class="b-analytics">
                        <div class="analytics-item">
                            <div class="hold-number">
                                <div class="number__item">
                                    <div class="number">4</div>
                                    <div class="hold-text">
                                        <span class="title">Количество проектов</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">531%</div>
                                    <div class="hold-text">
                                        <span class="title">Средняя IRR по объектам</span>
                                    </div>
                                </div>
                                <div class="number__item">
                                    <div class="number">431%</div>
                                    <div class="hold-text">
                                        <span class="title">Средняя EBITDA/margin</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="b-analytics grey">
                <div class="analytics-item pic-bg">
                    <div class="hold-number">
                        <div class="number__item">
                            <div class="number">
                               <span class="number__label">77,9</span>
                                <span class="number__text">млн.руб</span>
                            </div>
                            <div class="hold-text">
                                <span class="title">Суммарный денежный поток по всем проектам</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">
                                <span class="number__label">19,5</span>
                                <span class="number__text">млн.руб</span>
                            </div>
                            <div class="hold-text">
                                <span class="title">Средний денежный поток по проблемному объекту</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">
                               <span class="number__label">14,6</span>
                                <span class="number__text">млн.руб</span>
                            </div>
                            <div class="hold-text">
                                <span class="title">Суммарные расходы по проблемным активам </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="analytics-item">
                    <div class="hold-number flex-start">
                        <div class="number__item">
                            <div class="number">
                                <span class="number__label">3,7</span> 
                                <span class="number__text">млн.руб</span>
                            </div>
                            <div class="hold-text">
                                <span class="title">Средние расходы по проблемному активу</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">
                                <span class="number__label">1,5</span> 
                                <span class="number__text">млн.руб</span>
                            </div>
                            <div class="hold-text">
                                <span class="title">Средний суммарный чистый денежный поток по объекту</span>
                            </div>
                        </div>
                        <div class="number__item">
                            <div class="number">
                                <span class="number__label">15,8</span>
                                <span class="number__text">млн.руб</span>
                            </div>
                            <div class="hold-text">
                                <span class="title">Средняя чистая прибыль по объекту</span>
                            </div>
                        </div>
                        <span class="info-text">
                            при средней длительности 430 дней /1,2 года (от момента выкупа имущества до момента реализации конечному покупателю).
                        </span>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</section>

<section class="b-section">
  <div class="holder">
      <div class="sidebar lightbrown triangl">
          <div class="label">Напишите нам</div>
      </div>
      <div class="content">
          <div class="b-form grey">
              <div class="form-row">
                  <div class="form-element">
                      <div class="form-label">Укажите ваши Ф.И.О.</div>
                      <input class="form-input" type="text">
                  </div>
                  <div class="form-element">
                      <div class="form-label">Какую организацию Вы представляете:</div>
                      <input class="form-input" type="text">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-element">
                      <div class="form-label">Телефон</div>
                      <input class="form-input" type="text">
                  </div>
                  <div class="form-element">
                      <div class="form-label">E-mail</div>
                      <input class="form-input" type="text">
                  </div>
              </div>
              <div class="form-row">
                  <div class="form-element">
                      <div class="form-label">Текст вопроса:</div>
                      <textarea class="form-area" name="" ></textarea>
                  </div>
              </div>
              <div class="hold-btn">
                  <label class="b-checkbox">
                      <input type="checkbox">
                      <span class="checkbox-label">Даю согласие на обработку моих персональных данных</span>
                  </label>
                  <button class="g-button brown" type="submit">Отправить</button>
              </div>
          </div>
      </div>
  </div>
</section>

<%= _.template(require('./../includes/footer.html').default)(data) %> 