<% var data = {
    title: "Фонд проблемных активов"
  }; %>
  
  <%= _.template(require('./../includes/header.html').default)(data) %>

  <section class="b-section">
    <div class="holder">
        <div class="sidebar white">
            <div class="route">Главная > Проекты</div>
            <div class="label">Проекты</div>
        </div>
        <div class="content">
            <div class="b-projects">
                <div class="holder__item" style="background-image: url(img/bg-columns.png);">
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                </div>
                <div class="holder__item">
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                    <div class="item__project">
                        <div class="item__project_label">Название проекта</div>
                        <div class="item__project_text">Более 15 лет опыта команды Фонда в области проблемных активов и корпоративных споров в различных отраслях экономики дает возможность специалистам Фонда успешно реализовывать инвестиционные проекты и предлагать партнерам Фонда свои уникальные знания и возможности в этой сфере.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

  <section class="b-section">
    <div class="holder">
        <div class="sidebar lightbrown triangl">
            <div class="label">Напишите нам</div>
        </div>
        <div class="content">
            <div class="b-form grey">
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Укажите ваши Ф.И.О.</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">Какую организацию Вы представляете:</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Телефон</div>
                        <input class="form-input" type="text">
                    </div>
                    <div class="form-element">
                        <div class="form-label">E-mail</div>
                        <input class="form-input" type="text">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-element">
                        <div class="form-label">Текст вопроса:</div>
                        <textarea class="form-area" name="" ></textarea>
                    </div>
                </div>
                <div class="hold-btn">
                    <label class="b-checkbox">
                        <input type="checkbox">
                        <span class="checkbox-label">Даю согласие на обработку моих персональных данных</span>
                    </label>
                    <button class="g-button brown" type="submit">Отправить</button>
                </div>
            </div>
        </div>
    </div>
</section>

  <%= _.template(require('./../includes/footer.html').default)(data) %> 