.g-wrapper {
    border-top: 10px solid $lightbrown;
    padding: 0 121px;

    @media (max-width: $mediumDesctop) {
        padding: 0 60px;
    }

    @media (max-width: $tablet) {
        padding: 0 30px;
    }

    @media (max-width: $mobile) {
        padding: 0 15px;
    }
}

.g-container {
    max-width: 100%;
    min-width: 320px;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;  
}

.g-button, .btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 180px;
    height: 55px;
    border: none;
    cursor: pointer;
    transition: $all-transition;
    padding: 15px;
    font-size: .8em;
    line-height: 1.5;
    font-weight: $f-semibold;
    text-align: center;
    color: $white;
    box-sizing: border-box;
    outline: 0 none;
    white-space: nowrap;
    text-transform: uppercase;
    opacity: 1 !important;

    &.white {
        border: 1px solid $white;

        &:hover {
            background-color: $white;
            color: $lightbrown;
        }
    }

    &.brown {
        background-color: $sorrellbrown;
        color: $white;

        &:hover {
            background-color: $pavlova;
        }
    }
}

.g-title-h1, h1 {
	font-family: 'Montserrat-Bold';
    font-size: 2.3em;
    line-height: 1.217;
    text-transform: uppercase;

    @media (max-width: $tablet) {
        font-size: 1.4em;
        line-height: normal;
    }
}

.g-title-h2, h2 {

}

.g-title-h3, h3 {

}


