@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.eot');
	src: local('../fonts/Montserrat Regular'), local('Montserrat-Regular'),
	url('../fonts/Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Regular.woff') format('woff'),
	url('../fonts/Montserrat-Regular.ttf') format('truetype');
	font-weight: $f-regular;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Medium';
	src: url('../fonts/Montserrat-Medium.eot');
	src: local('../fonts/Montserrat Medium'), local('Montserrat-Medium'),
	url('../fonts/Montserrat-Medium.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Medium.woff') format('woff'),
	url('../fonts/Montserrat-Medium.ttf') format('truetype');
	font-weight: $f-medium;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Semibold';
	src: url('../fonts/Montserrat-SemiBold.eot');
	src: local('../fonts/Montserrat SemiBold'), local('Montserrat-SemiBold'),
	url('../fonts/Montserrat-SemiBold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-SemiBold.woff') format('woff'),
	url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
	font-weight: $f-semibold;
	font-style: normal;
}

@font-face {
	font-family: 'Montserrat-Bold';
	src: url('../fonts/Montserrat-Bold.eot');
	src: local('../fonts/Montserrat Bold'), local('Montserrat-Bold'),
	url('../fonts/Montserrat-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Montserrat-Bold.woff') format('woff'),
	url('../fonts/Montserrat-Bold.ttf') format('truetype');
	font-weight: $f-bold;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri';
	src: url('../fonts/Calibri-Light.eot');
	src: local('../fonts/Calibri-Light'), local('Calibri-Light'),
	url('../fonts/Calibri-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-Light.woff') format('woff'),
	url('../fonts/Calibri-Light.ttf') format('truetype');
	font-weight: $f-light;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri-Bold';
	src: url('../fonts/Calibri-Bold.eot');
	src: local('../fonts/Calibri-Bold'), local('Calibri-Bold'),
	url('../fonts/Calibri-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-Bold.woff') format('woff'),
	url('../fonts/Calibri-Bold.ttf') format('truetype');
	font-weight: $f-bold;
	font-style: normal;
}

@font-face {
	font-family: 'Calibri-LightItalic';
	src: url('../fonts/Calibri-LightItalic.eot');
	src: local('../fonts/Calibri-LightItalic'), local('Calibri-LightItalic'),
	url('../fonts/Calibri-LightItalic.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Calibri-LightItalic.woff') format('woff'),
	url('../fonts/Calibri-LightItalic.ttf') format('truetype');
	font-weight: $f-light;
	font-style: italic;
}


html {
    min-height: 100%;
}

body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    min-height: 100%;
    background: transparent;
	font-family: 'Montserrat-Regular';
	font-size: $font-default;
	line-height: 1.2;
    color: $black;
}

a {
	transition: $all-transition;
	color: $black;

	&:hover {
		opacity: .8;
		text-decoration: none;
  	}
}

input, textarea {

	&::placeholder {

	}
}

/* Убираем крестик на браузерах в инпут */
input[type=text]::-ms-clear {  display: none; width : 0; height: 0; }
input[type=text]::-ms-reveal {  display: none; width : 0; height: 0; }
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }

/* Скрываем надпись из placeholder при клике */
input::-webkit-input-placeholder {
	color: $black;
}
input:focus::-webkit-input-placeholder {
	color: transparent;
}
/* Firefox < 19 */
input:-moz-placeholder {
	color: $black;
}
input:focus:-moz-placeholder {
	color: transparent;
}
/* Firefox > 19 */
input::-moz-placeholder {
	color: $black;
}
input:focus::-moz-placeholder {
	color: transparent;
}
/* Internet Explorer 10 */
input:-ms-input-placeholder {
	color: $black;
} 
input:focus:-ms-input-placeholder {
	color: transparent;
} 
/* Если не вмещается placeholder */
input[placeholder] {
	text-overflow: ellipsis;
}

input::-moz-placeholder     {text-overflow:ellipsis;}
input:-moz-placeholder      {text-overflow:ellipsis;}
input:-ms-input-placeholder {text-overflow:ellipsis;}