// colors
$white: #fff;
$black: #000;
$wildsand: #F5F5F5;
$whitesmoke: #EBEBEB;
$whitesmoke2: #F6F5F5;
$grey: #F6F6F6;
$blackhaze: #F1F3F3;
$lightgrey: #F6F5F5;
$lightbrown: #A89574;
$pavlova: #B9A889;
$darkwood: #846E44;
$sorrellbrown: #958059;
$navajowhite: #FFE2AE;
$limedspruce: #34454E;
$shadylady: #989898;
$lynch: #6B7A82;


// fonts
$f-light: 300;
$f-regular: 400;
$f-medium: 500;
$f-semibold: 600;
$f-bold: 700;

$font-default: 20px;

//transitions
$all-transition: all .2s ease-in-out;
$slow-all-transition: all .6s ease-in-out;

//screen sizes
$extraSmallMobile: 320px;
$smallMobile: 414px;
$mobile: 767px;
$tablet: 991px;
$desctop: 1140px;
$mediumDesctop: 1367px;
$desctop1440: 1440px;
$desctop1600: 1600px;
$largeDesctop: 1920px;